/* [EN] Theme created by Loïc Guégant for gmusicbrowser, distributed under the GNU/GPL license. See README.odt file. */
/* [FR] Thème créé par Loïc Guégant pour gmusicbrowser, distribué sous licence GNU/GPL. Voir fichier LISEZ-MOI.odt. */

#Shimmer_Traytip window > *,
#minimaltip window > *,
#full window > *,
#Full_with_buttons window > *,
#info window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Shimmer_Traytip window *,
#minimaltip window *,
#full window *,
#Full_with_buttons window *,
#info window * {
	color: white;
}
menuitem:hover {
	background: rgba(0, 0, 0, .3);
}
#Shimmer_Traytip arrow,
#minimaltip arrow,
#full arrow,
#Full_with_buttons arrow,
#info arrow {
	background: unset;
}
window radio,
#Shimmer_Traytip radio,
#minimaltip radio,
#full radio,
#Full_with_buttons radio,
#info radio {
	border: solid 1px lightgrey;
}
#Shimmer_Traytip radio:checked,
#minimaltip radio:checked,
#full radio:checked,
#Full_with_buttons radio:checked,
#info radio:checked {
	color: lightgrey;
}

/* Tray tip window "Shimmer Traytip" */
/* Fenêtre d'infobarre « Infobarre Shimmer » */
#Shimmer_Traytip {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Shimmer_Traytip * {
	color: white;
}
#Shimmer_Traytip > #VBMain {
	margin-left: -5px;
	padding: 5px 5px 0 5px;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window * {
	color: white;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBTitle > #LockSong > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-song.png") 5px 8px no-repeat, url("images/gmb-lockopen.png") 23px 7px no-repeat;
	border-radius: 2px;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBAlbum > #LockAlbum > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-album.png") 5px 2px no-repeat, url("images/gmb-lockopen.png") 23px 1px no-repeat;
	border-radius: 2px;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBArtist > #LockArtist > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-artist.png") 5px 2px no-repeat, url("images/gmb-lockopen.png") 23px 1px no-repeat;
	border-radius: 2px;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBTitle > #Title > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window > * > * > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window > * > * > window > * > * > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBArtist > #Artist > window > *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBArtist > #Artist > window > * > * > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBTitle > #Title > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window > * > * > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #Cover > window > * > * > window > * > * > window > * > * > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBArtist > #Artist > window *,
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBLeft > #VBText > #HBArtist > #Artist > window > * > * > window * {
	color: white;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBRight > #HBButtons {
	margin: 1px 2px;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBRight > #HBButtons > button {
	padding: 1px 5px;
	background: unset;
}
#Shimmer_Traytip > #VBMain > #VBMain1 > #HBRight > #HBButtons > button:hover {
	background: unset;
	box-shadow: inset 0 0 4px black;
}
#Shimmer_Traytip > #VBMain > #HBTime > #TimeBar > progressbar {
	margin-left: 5px;
}
#Shimmer_Traytip > #VBMain > #HBTime > #TimeBar > progressbar > trough {
	margin-bottom: 0;
	box-shadow: 1px 1px 2px #4c4c4c;
	background: #f6f6f6;
	border: solid 1px #b5b5b5;
	border-radius: 1px;
}
#Shimmer_Traytip > #VBMain > #HBTime > #TimeBar > progressbar > trough > progress {
	background: #1d1d1d;
	border: solid 1px #1d1d1d;
}

/* Tray tip window "Minimal tip" */
/* Fenêtre d'infobarre « Infobulle minimale » */
#minimaltip {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#minimaltip > #HBmain > widget > * > * {
	color: white;
}
#minimaltip > #HBmain > #Cover > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#minimaltip > #HBmain > #Cover > window * {
	color: white;
}
#minimaltip > #HBmain > #TimeBar > progressbar {
	margin-left: 5px;
}
#minimaltip > #HBmain > #TimeBar > progressbar > trough {
	margin-bottom: 8px;
	box-shadow: 1px 1px 2px #4c4c4c;
	background: #f6f6f6;
	border: solid 1px #b5b5b5;
	border-radius: 1px;
}
#minimaltip > #HBmain > #TimeBar > progressbar > trough > progress {
	background: #1d1d1d;
	border: solid 1px #1d1d1d;
}

/* Tray tip window "Normal" */
/* Fenêtre d'infobarre « Normale » */
#full {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#full * {
	color: white;
}
#full > #HBmain > widget > * > * {
	color: white;
}
#full > #HBmain > #Cover > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#full > #HBmain > #Cover > window * {
	color: white;
}
#full > #HBmain > #VBmain > #VBText > #HBTitle > #Title > window > *,
#full > #HBmain > #Cover > window > *,
#full > #HBmain > #Cover > window > * > * > window > *,
#full > #HBmain > #Cover > window > * > * > window > * > * > window > *,
#full > #HBmain > #Cover > window > * > * > window > * > * > window > * > * > window > *,
#full > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > *,
#full > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > * > * > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#full > #HBmain > #VBmain > #VBText > #HBTitle > #Title > window *,
#full > #HBmain > #Cover > window *,
#full > #HBmain > #Cover > window > * > * > window *,
#full > #HBmain > #Cover > window > * > * > window > * > * > window *,
#full > #HBmain > #Cover > window > * > * > window > * > * > window > * > * > window *,
#full > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window *,
#full > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > * > * > window * {
	color: white;
}
#full > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar {
	margin-left: 5px;
}
#full > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar > trough {
	margin-bottom: 8px;
	box-shadow: 1px 1px 2px #4c4c4c;
	background: #f6f6f6;
	border: solid 1px #b5b5b5;
	border-radius: 1px;
}
#full > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar > trough > progress {
	background: #1d1d1d;
	border: solid 1px #1d1d1d;
}
#full > #HBmain > #VBmain > #VBText > #HBTitle > #LockSong > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-song.png") 5px 5px no-repeat, url("images/gmb-lockopen.png") 23px 4px no-repeat;
	border-radius: 2px;
}
#full > #HBmain > #VBmain > #VBText > #HBAlbum > #LockAlbum > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-album.png") 5px 5px no-repeat, url("images/gmb-lockopen.png") 23px 4px no-repeat;
	border-radius: 2px;
}
#full > #HBmain > #VBmain > #VBText > #HBArtist > #LockArtist > image {
	min-width: 30px;
	margin-top: 1px;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-artist.png") 5px 5px no-repeat, url("images/gmb-lockopen.png") 23px 4px no-repeat;
	border-radius: 2px;
}

/* Tray tip window "Complete traytil [Default]" */
/* Fenêtre d'infobarre « Infobarre complète [Par défaut] » */
#Full_with_buttons {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
/*#Full_with_buttons > #HBmain > #HBArtistPic {
	margin-right: 5px;	
}*/
#Full_with_buttons > #HBmain > #Cover > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Full_with_buttons > #HBmain > #Cover > window * {
	color: white;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > #Next,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > #Play,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > #Prev,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > #Stop {
	margin-right: 5px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 {
	margin-bottom: 4px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > button,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > button {
	margin: 0;
	padding: 0 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > #Button {
	margin-right: 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > #OpenBrowser,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > #PluginRip {
	margin: 0 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons1 > button:hover,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > button:hover,
#Full_with_buttons > #HBmain > #VBmain > #HBButtons > #HBButtons2 > #Button:hover {
	background: grey;
	box-shadow: inset 0 0 2px black;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic {
	margin: 0 0 -3px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Filter > image,
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Queue > image,
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Sort > image {
	margin-right: 5px;
}
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBTitle > #LockSong > image {
	min-width: 30px;
	margin: 1px 5px 0 0;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-song.png") 5px 5px no-repeat, url("images/gmb-lockopen.png") 23px 4px no-repeat;
	border-radius: 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBAlbum > #LockAlbum > image {
	min-width: 30px;
	margin: 1px 5px 0 0;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-album.png") 5px 3px no-repeat, url("images/gmb-lockopen.png") 23px 2px no-repeat;
	border-radius: 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #LockArtist > image {
	min-width: 30px;
	margin: 1px 5px 0 0;
	padding: 0 0 0 16px;
	background: grey, url("images/gmb-artist.png") 5px 3px no-repeat, url("images/gmb-lockopen.png") 23px 2px no-repeat;
	border-radius: 2px;
}
#Full_with_buttons > #HBmain > #Cover > label,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBTitle > #Title > label,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBAlbum > #Album > label,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > label {}
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window > *,
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window > * > * > window > *,
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window > * > * > window > * > * > window > *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBTitle > #Title > window > *,
#Full_with_buttons > #HBmain > #Cover > window > *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window > *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window > * > * > window > *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window > * > * > window > * > * > window > *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > * > * > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window *,
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window > * > * > window *,
#Full_with_buttons > #HBmain > #HBArtistPic > #ArtistPic > window > * > * > window > * > * > window *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBTitle > #Title > window *,
#Full_with_buttons > #HBmain > #Cover > window *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window > * > * > window *,
#Full_with_buttons > #HBmain > #Cover > window > * > * > window > * > * > window > * > * > window *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window *,
#Full_with_buttons > #HBmain > #VBmain > #VBText > #HBArtist > #Artist > window > * > * > window * {
	color: white;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Filter > window > menu > #menuitem-savedlists {
	background-image: url("images/gmb-list16.png");
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Sort > window > menu > menuitem:first-child {
	background-image: url("images/gmb-random16.png");
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Queue > window > menu > menuitem:first-child {
	background-image: url("images/gmb-album.png");
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#Full_with_buttons > #HBmain > #VBmain > #HBIndic > #Queue > window > menu > menuitem:nth-child(2) {
	background-image: url("images/gmb-artist.png");
	background-position: 5px 10px;
	background-repeat: no-repeat;
}
#Full_with_buttons > box > box > box > box > widget > label,
#Full_with_buttons > box > box > box > widget > label {
	color: white;
	border-radius: 25px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBTime {}
#Full_with_buttons > #HBmain > #VBmain > #HBTime > #Time > label {
	color: white;
	text-shadow: 0 0 2px black;
	margin-top: 3px;
	border-radius: 2px;
	background: #808080;
}
#Full_with_buttons > #HBmain > #VBmain > #HBStarLab > #LabelsIcons {
	margin: 0;
	padding: 4px 7px 0 0;
	background: #808080;
	border-radius: 0 2px 2px 0
}
#Full_with_buttons > #HBmain > #VBmain > #HBStarLab > #LabelsIcons image {
	margin: 0 0 0 5px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBStarLab > #Stars > image {
	margin-left: 0;
	padding: 0 3px;
	background: #999999;
	border-radius: 2px 0 0 2px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar {
	margin-left: 5px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar > trough {
	margin-bottom: 8px;
	box-shadow: 1px 1px 2px #4c4c4c;
	background: #f6f6f6;
	border: solid 1px #b5b5b5;
	border-radius: 1px;
}
#Full_with_buttons > #HBmain > #VBmain > #HBTime > #TimeBar > progressbar > trough > progress {
	background: #1d1d1d;
	border: solid 1px #1d1d1d;
}

/* Tray tip window "Small" */
/* Fenêtre d'infobarre « Petite » */
#info {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#info * {
	color: white;
}
#info > #HBmain > #Cover > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#info > #HBmain > #Cover > window * {
	color: white;
}
#info > #HBmain > #VBText > #Title > window > *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window > *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window > * > * > window > *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window > * > * > window > * > * > window > *,
#info > #HBmain > #VBText > #Artist > window > *,
#info > #HBmain > #VBText > #Artist > window > * > * > window > * {
	background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(100,100,100,1) 100%);
}
#info > #HBmain > #VBText > #Title > window *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window > * > * > window *,
#info > #HBmain > #VBText > #HBAlbum > #Album > window > * > * > window > * > * > window > * > * > window *,
#info > #HBmain > #VBText > #Artist > window *,
#info > #HBmain > #VBText > #Artist > window > * > * > window * {
	color: white;
}
