/* [EN] Theme created by Loïc Guégant for gmusicbrowser, distributed under the GNU/GPL license. See README.odt file. */
/* [FR] Thème créé par Loïc Guégant pour gmusicbrowser, distribué sous licence GNU/GPL. Voir fichier LISEZ-MOI.odt. */

/* [EN] SETTINGS */
/* [FR] RÉGLAGES */
#Pref > box {
	padding: 0;
	margin: -2px;
	background: #79643d;
	min-height: 820px;
}
#Pref > box > notebook {
	padding: 0;
	margin: -4px 2px -2px 2px;
	border: none;
}
#Pref > box > notebook > header {
	margin: 0;
	padding: 0;
}
#Pref > box > notebook > header > tabs {
	padding: 0;
	margin: 0 -2px -1px -2px;
	border: none;
	background-image: none;
	background: rgb(157,132,80);
	background: linear-gradient(0deg, rgba(157,132,80,1) 0%, rgba(232,223,211,1) 100%);
}
#Pref > box > notebook > header > tabs > tab {
	margin: -1px 0 0;
	background: unset;
}
	/* [EN] [SETTINGS] ... and the color of their texts */
	/* [FR] [RÉGLAGES] ... et la couleur de leurs textes */
#Pref > box > notebook > header > tabs > tab label {
	color: black;
}
	/* [EN] [SETTINGS] ... including the active tab */
	/* [FR] [RÉGLAGES] ... dont l'onglet actif */
#Pref > box > notebook > header > tabs > tab:hover {
	color: #f6f3ed;
	background: rgb(102,86,52);
	background: linear-gradient(0deg, rgba(102,86,52,1) 0%, rgba(204,183,157,1) 100%);
	border: none;
	box-shadow:none;
}
#Pref > box > notebook > header > tabs > tab:checked {
	color: #f6f3ed;
	text-shadow: -1px -1px 2px black;
	font-weight: bold;
	background: rgb(55,47,28);
	background: linear-gradient(0deg, rgba(55,47,28,1) 0%, rgba(153,118,79,1) 100%);
	border: none;
	box-shadow:none;
}
#Pref > box > notebook > header > tabs > tab:checked label {
	color: #f6f3ed;
}
/*#Pref > box > notebook > stack > box > *:nth-child(9) {
	all: unset;
}
#Pref > box > notebook > stack > box > *:nth-child(9) > check,
#Pref > box > notebook > stack > box > *:nth-child(9) > label {
	all: unset;
	font-size: 0;
	min-height: 1px;
}
#Pref > box > notebook > stack > box > *:nth-child(10) {
	margin-top: -5px;
}*/
#Pref > box > notebook > stack > scrolledwindow > viewport > box > box > button > window > menu > menuitem > label {
	color: black;
}
#Pref > headerbar {
	padding: 0;
	margin: 0;
	min-height: 28px;
	background: #242424;
	border-radius: 5px 5px 0 0;
}
#Pref > headerbar > box > button {
	margin-right: 5px;
	background: #393939;
	border-radius: 15px;
	box-shadow: unset;
}
#Pref > headerbar > box > button:hover {
	background: #454545;
	box-shadow: unset;
}
#Pref > headerbar > box > button > image {
	color: white;
}
#Pref > headerbar > box > label {
	color: white;
}
#Pref label,
#Pref button > box > cellview {
	color: white;
}
#Pref button {
	-gtk-icon-shadow: unset;
	text-shadow: unset;
	border: none;
	background: #665433;
	box-shadow: inset 1px 2px 5px #997e4d, 0 0 2px #4d3f26;
}
#Pref button:hover {
	box-shadow: inset 1px 2px 5px #4d3f26;
}
#Pref button:active {
	background: #594a2d;
	box-shadow: inset 1px 2px 5px 1px black;
}
#Pref button > box > cellview,
#Pref notebook > stack > box > box > widget > box > box >combobox > box > button > box > cellview *,
#Pref spinbutton button,
#Pref button > box > arrow {
	color: white;
}
#Pref spinbutton,
dialog spinbutton {
	border: none;
}
#Pref button cellview:hover {
	background: #665433;
}
#Pref > box > notebook > stack > box > label:nth-child(10) {
	margin: 15px 100px 0 100px;
	padding: 3px 0;
	border-radius: 15px;
	background: #4d3f26;
}
#Pref > box > notebook > stack > box > box > box > box > box > box > combobox > box > button > box > cellview > *,
#Pref > box > notebook > stack > box > box > box > box > box > combobox > box > button > box > cellview > * {
	color: white;
}
#Pref > box > notebook > stack > box > box > box > box > box > box > scale:hover {
	background: unset;
}
#Pref > box > notebook > stack > box > box > box > box > box > box > scale > contents > trough {
	border: none;
	background: #997e4d;
}
#Pref > box > notebook > stack > box > box > box > box > box > box > scale > contents > trough:hover {

	background: white;
}
#Pref > box > notebook > stack > box > box > box > box > box > box > scale > contents > trough > highlight {
	border: none;
	background: #665433;	
}
#Pref > box > notebook > stack > box > box > box > box > box > box > scale > value {
	color: white;
}
#Pref > box > notebook > stack > box > box > box > box > box > checkbutton {
	padding: 0 5px;
	border-radius: 5px;
}
#Pref > box > notebook > stack > box > box > box > box > box > checkbutton:hover {
	background: #665433;
}
#Pref > box > notebook > stack > box > box > box > frame > box > box > checkbutton,
#Pref > box > notebook > stack > box > box > box > frame > box > box > radiobutton,
#Pref > box > notebook > stack > box > box > box > frame > box > box > widget > box > radiobutton,
#Pref > box > notebook > stack > box > box > box > frame > box > box > widget > box > box > checkbutton,
#Pref > box > notebook > stack > box > box > box > frame > box > checkbutton,
#Pref > box > notebook > stack > box > box > box > frame > box > radiobutton {
	margin: 0 5px;
	padding-left: 5px
}
#Pref > box > notebook > stack > box > box > box > frame > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > box > frame > box > box > radiobutton:hover,
#Pref > box > notebook > stack > box > box > box > frame > box > box > widget > box > radiobutton:hover,
#Pref > box > notebook > stack > box > box > box > frame > box > box > widget > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > box > frame > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > box > frame > box > radiobutton:hover {
	background: #665433;
	border-radius: 5px;
}
#Pref > box > notebook > stack > box > box > label > link {
	color: white;
}
#Pref > box > notebook > stack > box > box > label > link:hover {
	background: #665433;
	border-radius: 3px;
}
#Pref > box > notebook > stack > box > box > radiobutton > radio {
	background: white;
	border: solid 1px #4f4128;
	box-shadow: 0 0 2px #cab795;
}
#Pref > box > header,
#Pref > box > notebook > stack,
#Pref > box > notebook > stack > box > scrolledwindow > treeview {
	background: #79643d;
	margin: -6px -2px 0 -2px;
}
#Pref > box > notebook > stack > box > scrolledwindow > treeview > * {
	color: white;
}
#Pref > box > notebook > stack > box > box > box > scrolledwindow > treeview > *:disabled,
#Pref > box > notebook > stack > box > box > box > scrolledwindow > treeview > *:hover,
#Pref > box > notebook > stack > box > scrolledwindow > treeview > *:hover {
	color: black;
}
#Pref > box > notebook > stack > box > scrolledwindow > treeview > header > button > box > widget > label {
	padding: 3px;
}
#Pref notebook > stack > box > box > box > scrolledwindow > treeview > *:selected,
#Pref notebook > stack > box > scrolledwindow > treeview > *:selected {
	background: #665433;
}
/* [EN] [SETTINGS] "Library", "Fields" and "Plugins" tabs */
/* [FR] [RÉGLAGES] Onglets "Musithèque", "Champs" et "Greffons" */
#Pref notebook > stack > box > box > box > scrolledwindow > treeview > *:hover,
#Pref notebook > stack > box > scrolledwindow > treeview > *:hover {
	background: #cab795;
	box-shadow: inset 0 -5px 8px -10px black;
}
/* [EN] [SETTINGS] “Music folders” and “Library size” */
/* [FR] [RÉGLAGES] "Dossiers musicaux" et "Taille de la musithèque" */
#Pref > box > notebook > stack > box >  label {
	margin: 5px 0;
	color: #cab795;
	font-weight: bold;
}
#Pref > box > notebook > stack > box:first-child > scrolledwindow {	
	border: none;
	margin: 1px 0 10px;
	padding: 10px 0;
	background: #007bdb url("images/desert.png") bottom center no-repeat;
	background-size: cover;
	box-shadow: inset 0 1px 4px black, 0 1px 3px #ffe4b3;
}
#Pref > box > notebook > stack > box:first-child > scrolledwindow > treeview {
	background: unset;
}
#Pref > box > notebook > stack > box > box > box > scrolledwindow,
#Pref > box > notebook > stack > box:first-child > scrolledwindow * {
	color: white;
	padding: 0 10px;
}
#Pref > box > notebook > stack > box > box > box > scrolledwindow,
#Pref > box > notebook > stack > box > scrolledwindow {	
	border: none;
	background: #aca59b url("images/camel.jpg") center no-repeat;
	background-size: cover;
}
#Pref > box > notebook > stack > box > box > box:nth-child(3) > scrolledwindow {
	padding: 5px;
	min-height: 200px;
	background: #007bdb url("images/desert.png") bottom center no-repeat;
	background-size: cover;
}
#Pref > box > notebook > stack > box > box > box:nth-child(3) scrolledwindow {
	box-shadow: inset 0 1px 4px black, 0 1px 3px #ffe4b3;
}
#Pref > box > notebook > stack > box > box > box > scrolledwindow treeview {	
	color: white;
	background: unset;
}
#Pref > box > notebook > stack > scrolledwindow {	
	border: none;
}
#Pref > box > notebook > stack > box > scrolledwindow > treeview {}
/* [EN] [SETTINGS]  */
/* [FR] [RÉGLAGES] Liste des dossiers à explorer */
#Pref > box > notebook > stack > box > scrolledwindow > treeview > * {
	background: unset;
}
#Pref > box > notebook > stack > box > box > checkbutton,
#Pref > box > notebook > stack > box > box > widget > box > checkbutton,
#Pref > box > notebook > stack > box > box > radiobutton,
#Pref > box > notebook > stack > box > checkbutton {
	margin: 0 5px 0 0;
	padding: 5px 3px;
	border-radius: 5px;
}
#Pref > box > notebook > stack > box > box > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > radiobutton:hover,
#Pref > box > notebook > stack > box > box > widget > box > box > checkbutton:hover,
#Pref > box > notebook > stack > box > box > widget > box > checkbutton:hover,
#Pref > box > notebook > stack > box > checkbutton:hover,
#Pref > box > notebook > stack > scrolledwindow > viewport > box > box > checkbutton:hover,
#Pref > box > notebook > stack > scrolledwindow > viewport > box > box > widget > checkbutton:hover,
#Pref > box > notebook > stack > scrolledwindow > viewport > box > checkbutton:hover {
	background: #665433;
}

/* [EN] [SETTINGS] “About” and “Close” buttons in “Settings” */
/* [FR] [RÉGLAGES] Boutons "À propos" et "Fermer" des "Réglages" */
#Pref > box > box > buttonbox {
	border-top: solid 1px black;
}
#Pref > box > box > buttonbox > button {
	background: #332a1a;
	margin: 5px;
	text-shadow: none;
	box-shadow: 0 0 2px #332a1a;
}
#Pref > box > notebook > stack > box > box > box > combobox *,
#Pref > box > notebook > stack > box > box > combobox * {
	color: black;
}
#Pref > box > notebook > stack > box > box > box > combobox > box > button > box > cellview *,
#Pref > box > notebook > stack > box > box > box > combobox > box > button > box > arrow,
#Pref > box > notebook > stack > box > box > combobox > box > button > box > cellview *,
#Pref > box > notebook > stack > box > box > combobox > box > button > box > arrow {
	color: white;
}
#Pref > box > notebook > stack > box > box > box > combobox > box > button > box > cellview:hover,
#Pref > box > notebook > stack > box > box > box > combobox > box > button:hover,
#Pref > box > notebook > stack > box > box > combobox > box > button > box > cellview:hover,
#Pref > box > notebook > stack > box > box > combobox > box > button:hover {
	background: #4f4128;
}
#Pref > box > notebook > stack > box > box > box > combobox *:hover,
#Pref > box > notebook > stack > box > box > combobox *:hover {
	background: grey;
}
