/* [EN] Theme created by Loïc Guégant for gmusicbrowser, distributed under the GNU/GPL license. See README.odt file. */
/* [FR] Thème créé par Loïc Guégant pour gmusicbrowser, distribué sous licence GNU/GPL. Voir fichier LISEZ-MOI.odt. */

/* [EN] Widget plugin */
/* [FR] Greffon de gadgets de bureau */
	/* [EN] Buttons, Song & Cover */
	/* [FR] Boutons, morceau et illustration */
#D_buttons_song_cover > #VBmain > #HBAlbum {
	background: rgb(157,132,80);
	background: linear-gradient(0deg, rgba(157,132,80,.3) 0%, rgba(232,223,211,.3) 100%);
}
#D_buttons_song_cover > #VBmain > #HBArtist {
	background: rgb(157,132,80);
	background: linear-gradient(0deg, rgba(157,132,80,.5) 0%, rgba(232,223,211,.5) 100%);
}
#D_buttons_song_cover > #VBmain > #HBTitle {
	background: rgb(157,132,80);
	background: linear-gradient(0deg, rgba(157,132,80,.7) 0%, rgba(232,223,211,.7) 100%);
}
#D_buttons_song_cover > #VBmain > #HBbuttons {
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(157,157,157,1) 100%);
}
	/* Screenlet ([FR] Applet de bureau) */
#D_screenlet > #VBmain > #Album > label {
	color: #4d4d4b;
	background: rgba(255, 255, 255, 0.5);
}
#D_screenlet > #VBmain > #Artist > label{
	color: lightgrey;
	background: rgba(127, 127, 127, 0.7);
}
#D_screenlet > #VBmain > #Title > label {
	color: white;
	background: rgba(0, 0, 0, 0.5);
}
